html{
  margin: 0px;
  padding: 0px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
body{
  height: 100%;
}
#content_container{
  height: 100%;
}

/*Githubリボン*/
#forkongithub a{
  background:#000;
  color:#fff;
  text-decoration:none;
  font-family:arial,sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
}
#forkongithub a:hover{
  background:#c11;
  color:#fff;
}
#forkongithub a::before,#forkongithub a::after{
  content:"";
  width:100%;
  display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto
}
@media screen and (min-width:800px){
  #forkongithub{
    position:absolute;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;
  }
  #forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);
  }
}

/*ここからメインコンテンツのCSS*/
/*ヘッダー部分*/
.main_content_container{
  width: 100%;
  height: 100%;
  background: #424242;
}
.main_content_wrapper{
  width: 100%;
  height: 100%;
}
.cover_image_wrapper{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 100px;
}
.cover_image{
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  border: solid 4px #fff;
}
h1{
  font-size: 60px;
  color: #fff;
  text-align: center;
  margin: 0px;
}
h2{
  font-size: 32px;
  color: #EEEEEE;
  text-align: center;
  margin: 0px;
}

@media screen and (max-width: 480px) {
    .cover_image_wrapper{
      width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      padding-top: 160px;
      padding-bottom: 100px;
    }
    h1{
      font-size: 40px;
      color: #fff;
      text-align: center;
      margin: 0px;
    }
    h2{
      font-size: 24px;
      color: #EEEEEE;
      text-align: center;
      margin: 0px;
    }
}
