html {
  background-color: rgb(243, 245, 248);
  font-family: 'Avenir','Roboto','Noto Sans', sans-serif;

  width: 100%;
  height: 100%;

  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 480px) {
  /*
  * MainContent
  *
  *
  */
  #main_content_container {
    width: 100%;
    height: 100%;
    background-image: url(../images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  #horii_image_container {
    width: 240px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 144px
  }

  #horii_image {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: solid 4px #fff;
    width: 232px;
    height: 232px;
  }

  h1 {
    font-size: 72px;
    text-align: center;
    font-family: 'Abel','Noto Sans', sans-serif;
    font-weight: 900;
    letter-spacing: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
  }
  #my_name {
    margin-top: 8px;
  }
  #motto {
    font-size: 28px;
    text-align: center;
    font-family: 'Kite One', 'Abel','Noto Sans', cursive;
    font-weight: 900;
    letter-spacing: 0px;
    margin-bottom: 144px;
    color: #fff;
  }

  h2 {
    font-size: 24px;
    text-align: center;
    font-family: 'Abel','Noto Sans', sans-serif;
    font-weight: 100;
    color: #fff;
    margin-bottom: 144px;
    margin-top: 0px;
  }

  .image-list-container {
    display: flex;
    flex-direction: row;
    width: 192px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
  }

  .image-list-item {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 16px;
    margin-left: 16px;
  }
  #arrow{
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    transform: rotate(135deg);
    animation-name: twitch;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }


  /**
  *  Commons
  *
  *
  */
  .description {
    font-size: 18px;
    font-family: 'Noto Sans';
    color: #616161;
  }
  .content-wrapper {
    width: 864px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .section-title {
    font-size: 72px;
    text-align: left;
    font-family: 'Abel','Noto Sans', sans-serif;
    font-weight: 900;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-bottom: 32px;
    color: #424242;
  }

  /**
  *  About
  *
  *
  */
  #about_content_container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fffef9;
  }
  .about-description {
    font-size: 24px;
    font-family: 'Noto Sans';
    color: #616161;
  }
  /**
  *  Skills
  *
  *
  */
  #skills_content_container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9fffe;
  }
  .skills-container {
    display: flex;
    -webkit-justify-content: center; /* Safari */
    justify-content:         center;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
  }
  .skills-list-item-icon {
    display: block;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  h3 {
    margin: 0px;
    font-size: 32px;
    font-family: 'Abel','Noto Sans', sans-serif;
    color: #424242;
    margin-bottom: 16px;
  }
  #lang {
    margin-bottom: 64px;
  }
  /**
  *  works
  *
  *
  */
  #works_content_container {
    width: 864px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  /**
  *  Contact Content
  *
  *
  */
  #contact_content_container {
    width: 100%;
    height: 100%;
    background-color: #ddd;
  }
  #contact_content_wrapper {
    width: 864px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .title-container {
    padding-top: 104px;
  }
  .description-container {
    width: 64%;
    margin-left: auto;
    margin-right: auto;
    color: #424242;
    margin-bottom: 144px;
  }
  .contact-description {
    font-size: 24px;
    font-family: 'Noto Sans'
    color: #616161;
  }
  #contact_container {
    display: flex;
    -webkit-justify-content: center; /* Safari */
    justify-content:         center;
    width: 100%;
    margin-left: 8px;
    margin-right: 8px;
  }
  .image-list-container {
    width: auto;
    min-width: 180px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 0px;
  }
  .contact-list-item {
    min-width: 180px;
    background: #fff;
    border-radius: 8px;
    text-decoration: none;
    color: #212121
  }
  .contact-list-item-icon {
    display: block;
    width: 102px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .contact-list-item-title {
    text-align: center;
    font-size: 32px;
    margin: 0px;
    margin-bottom: 16px;
    font-family: 'Abel'
  }
}
